#content5-8 P {
  text-align: left;
}

@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700&subset=latin,vietnamese,latin-ext);

#content5-8 P {
  text-align: left;
}
#header4-g H1 {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Alegreya Sans', sans-serif;
}

#msg-box4-i .mbr-section-title {
  font-size: 20px;
}
